.wrapper {
  width: 100%;
  min-height: 100vh;
  background: url(long.png) left center/160px auto repeat;
}
.topcover__inner {
  padding-top: 70px;
}

footer {
  display: none;
}

div {
  box-sizing: border-box;
}
header {
  z-index: 10;
  box-shadow: 1px 1px 3px rgb(201, 201, 201);
  position: fixed;
  padding-top: 0;
  height: 70px;
  width: 100%;
  background: linear-gradient(to right, white, rgb(243, 255, 242));
}

h1 {
  display: flex;
  justify-content: space-between;
  a.supulogo {
    cursor: pointer;
    display: block;
    width: 155px;
    height: 80px;
    font-size: 0;
    background: url(supulogo.png) left top/155px auto no-repeat;
  }
  .nav {
    display: none;
  }

  #nav-drawer {
    position: relative;
    margin-right: 20px;
    line-height: 70px;
  }
  
  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }
  
  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }
  
  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  
  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  /*中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 280px;/*最大幅（調整してください）*/
    height: 100%;
    background: linear-gradient(to right, white, rgb(254, 255, 213));
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
  }
  
  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
}
ul.mobile {
  padding: 0 10px;
}
a.mobile-menu {
  color: black;
  font-size: 15px;
  font-weight: bold;
}
li.mobile {
  border-bottom: 1px grey dashed;
}
.mobile-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 13px;
  height:40px;
  font-size: 7px;
  text-align: center;
  a.footer-btn {
    color: black;
  }
}
