
.contents {
  margin: 10px;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  &__content {
    margin-top: -23px;
    color: black;
    width: 100%;
    padding: 5px;
    display: flex;
    border-bottom: 1px grey dashed;
    .picture {
      width: 100px;
      background-color: rgb(255, 255, 255);
      position: relative;
      border-radius: 20px;
      p.future {
        position: absolute;
        font-weight: bold;
        font-size: 13px;
        background: linear-gradient(transparent 50%, #fffb00c5 50%);
      }
      p.past {
        position: absolute;
        font-weight: bold;
        font-size: 13px;
        background: linear-gradient(transparent 50%, #ff2d2d91 50%);
      }
      img {
        box-sizing: border-box;
        border-radius: 20px;
        padding: 5px;
      }
    }
    &__mission {
      box-sizing: border-box;
      word-wrap:break-word;
      width: calc(100% - 100px);
      p.mission-name {
        font-weight: bold;
        font-size: 18px;
      }
      #id_date {
        margin-right: 0px;
      }
    }
  }
}
.news {
  display: none;
}

.newface__guidebox {
  animation: fadeIn 2.5s ease 0s 1 normal;
  text-align: center;
  box-sizing: border-box;
  margin: 20px 10px;
  background-color: white;
  font-size: 13px;
  font-weight: bold;
  color: red;
  padding: 10px;
  border-radius: 15px;
  &__inner {
    font-weight: normal;
    text-align: left;
    color: black;
    margin: 10px 0;
    font-size: 15px;
    img.guide1 {
      display: none;
    }
    img.guide2 {
      width: 95%;
      border: yellow 3px solid;
    }
  }
  a#redcolor {
    font-weight: bold;
    color: red;
    margin: -4px;
    font-size: 18px;
  }
}