.topcover
  .topcover__inner
    - if user_signed_in?
      .contents
        .contents-menu
          .contents-menu--
            %p.contents__title フレンド一覧
            =link_to "", new_friend_path, class:"fas fa-user-plus fa-lg"
        - current_user.friends.each do |friend|
          = render partial: 'shared/friends', locals: {friend: friend }