.topcover
  .topcover__inner
    - if user_signed_in?
      .contents
        .contents-menu
          .contents-menu--display
            %p.contents__title フレンド一覧
            =link_to "追加", new_friend_path, class:"fas fa-user-plus fa-lg friendadd"
        - current_user.friends.each do |friend|
          = render partial: 'side-friends', locals: {friend: friend }
      -if @friends_thismonth.present? || @friends_nextmonth.present? || @friends_nextnextmonth.present?
        .news
          %em もうすぐ誕生日のフレンドがいます！
          = render partial: "missions/month", locals: {month: @thismonth, friends: @friends_thismonth } 
          = render partial: "missions/month", locals: {month: @nextmonth, friends: @friends_nextmonth } 
          = render partial: "missions/month", locals: {month: @nextnextmonth, friends: @friends_nextnextmonth } 