.friend {
  line-height: 30px;
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__name {
    padding-left:20px;
  }
  &__birth {
    line-height: 15px;
    font-size: 13px;
    padding-top:14px;
    padding-right: 20px;
  }
}

.friend-data {
  z-index: 1;
  box-sizing: border-box;
  margin: 13px;
  box-shadow: 1px 1px 2px rgb(167, 163, 163);
  width: calc(100% - 420px);
  min-width: 400px;
  height: calc(100% - 40px);
  min-height: 540px;
  background-color:  rgba(255, 255, 255, 0.9);
  display: flex;
  border-radius: 30px;
    &__left {
      min-width: 300px;
      width: 100%;
      height: 100%;
      position: relative;
      &__top {
        width: 100%;
        box-sizing: border-box;
        padding: 30px;
        p.memo {
          width: 100%;
        }
      }
      &__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        .nav__menu__friend {
          font-weight: bold;
          text-align: center;
          min-width: 80px;
          padding: 0 5px;
          margin: 0 10px;
          line-height: 50px;
          box-shadow: 1px 1px 2px rgb(158, 153, 153);
          color: rgb(155, 7, 7);
          background-color: white;
          border-radius: 20px
        }
      }
    }
    &__right {
      box-sizing: border-box;
      margin: 0 auto;
      width: 370px;
      height: 100%;
      padding: 10px;
      &__top {
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        height: 170px;
        &__name {
          background: linear-gradient(transparent 50%, #fffb0069 50%);
        }
        &__sex {
          padding-left: 10px;
        }
        &__birth {
          padding-left: 10px;
        }
        &__missions {
          padding-left: 10px;
        }
      }
      a.twitter-timeline {
        padding-left:10px;
      }
    }
}

.friend-data__new {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 10px;
  text-align: center;
  position: relative;
  #friend_name, #friend_sex, #friend_birth, #friend_twitter, #friend_memo {
    width: 150px;
    padding-left: 13px;
    border-style: none;
    border-radius: 20px;
    box-shadow: inset 1px 1px 3px rgba(180, 180, 148, 0.644);
    font-size: 15px;
  }
  .birth {
    line-height: 40px;
  }
  #friend_name, #friend_birth {
    line-height: 30px;
    width: 200px;
  }
  #friend_memo {
    width: 90%;
    height: 250px;
  }
  &__top {
    height: 40px;
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
  }
  &__middle {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
  }
  &__main {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }
  &__footer {
    width:calc(100% - 30px);
    height: 80px;
    position: absolute;
    bottom: 0;
    input {
      background-color: white;
      cursor: pointer;
      border-radius :10px;
      box-shadow: 2px 2px 4px rgba(180, 180, 148, 0.8);
      width: 70px;
      height: 40px;
      font-weight: bold;
    }
    a {
      color: red;
      padding-left: 50px;
      text-shadow: 1px 1px 1px rgb(161, 133, 133);
    }
  }
}