#nav-drawer {
  display: none;
}
header {
  z-index: 10;
  box-shadow: 1px 1px 3px rgb(201, 201, 201);
  position: fixed;
  padding-top: 0;
  height: 80px;
  width: 100%;
  min-width: 885px;
  background: linear-gradient(to right, white, rgb(243, 255, 242));
}

h1 {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  a.supulogo {
    cursor: pointer;
    display: block;
    width: 230px;
    height: 80px;
    font-size: 0;
    background: url(supulogo.png) left top/230px auto no-repeat;
  }
  .nav {
    box-sizing: border-box;
    a {
      color: black;
      margin-left: 27px;
      line-height: 80px;
      font-size: 12px;
      .nav__menu {
        font-weight: bold;
        float: right;
        font-size: 13px;
        margin-left: 3px;
        position: relative;
        top: 0px;
      }
    }
    a:hover {
      color: red;
      border-bottom: 2px yellow solid;
    }
  }
}



