header {
  z-index: 10;
  box-shadow: 1px 1px 3px rgb(201, 201, 201);
  position: fixed;
  padding-top: 0;
  height: 80px;
  width: 100%;
  min-width: 860px;
  background: linear-gradient(to right, white, rgb(243, 255, 242));
}

h1 {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  a.supulogo {
    cursor: pointer;
    display: block;
    width: 190px;
    height: 80px;
    font-size: 0;
    background: url(supulogo.png) left center/160px auto no-repeat;
  }
  .nav {
    a {
      color: black;
      margin-left: 22px;
      line-height: 80px;
      font-size: 18px;
      .nav__menu {
        font-weight: bold;
        float: right;
        font-size: 14px;
        margin-left: 6px;
        position: relative;
        top: 1px;
      }
    }
  }
}

