.contents {
  z-index: 1;
  font-size: 12px;
  box-sizing: border-box;
  width: 390px;
  height: 100%;
  background-color: $syellow;
  padding:5px;
  overflow-y: scroll;
  &__content {
    box-sizing: border-box;
    color: black;
    width: 380px;
    padding: 5px;
    display: flex;
    border-bottom: 2px solid rgb(255, 255, 255);
    .picture {
      width: 100px;
      height: 100px;
      background-color: rgb(255, 255, 255);
      position: relative;
      border-radius: 20px;
      p.future {
        position: absolute;
        font-weight: bold;
        font-size: 13px;
        background: linear-gradient(transparent 50%, #fffb00c5 50%);
      }
      p.past {
        position: absolute;
        font-weight: bold;
        font-size: 13px;
        background: linear-gradient(transparent 50%, #ff2d2d91 50%);
      }
      img {
        box-sizing: border-box;
        border-radius: 20px;
        padding: 5px;
      }
    }
    &__mission {
      box-sizing: border-box;
      padding: 5px;
      width: 270px;
      word-wrap:break-word;
      p {
        font-weight: bold;
        font-size: 14px;
      }
      #id_date {
        margin-right: 0px;
      }
      &--text {
        width: 260px;
      }
    }
  }
  &__content:hover {
    background-color: white;
    transition: background-color 0.3s;
    border-right: yellow 2px solid;
  }
  a {
    color: black;
  }
}
.mission__now {
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  &__inner {
    width: 100%;
    height: 215px;
    display: flex;
    &__left {
      width: 120px;
      height: 215px;
      text-align: center;
      border-right: 1px rgb(104, 104, 104) dashed;
    }
    &__right {
      box-sizing: border-box;
      width: 258px;
      height: 215px;
    }
  }
}
a.friendadd {
  position: relative;
  top: -22px;
  left: 300px;
  font-size: 20px;
}

.contents__now {
  // z-index: 1;
  font-size: 12px;
  box-sizing: border-box; 
  width: 390px;
  height: 100%;
  background-color: $syellow;
  padding:5px;
}
.mission-wrap {
  width: 100%;
  height: calc(100% - 280px);
  overflow-y: scroll;
}

// ここから、チャットボックス
.chatbox {
  width: calc(100% - 390px);
  min-width: 400px;
  height: 100%;
  box-sizing: border-box;
  &__main {
    box-sizing: border-box;
    background-color: rgba(112, 112, 112, 0.315);
    height: calc(100% - 90px);
    width: 100%;
    overflow-y: scroll;
    padding: 20px;
    p.name {
      margin: 10px 0;
      font-size: 13px;
    }
    .balloon{
      position: relative;
      min-width: 200px;
      width: 80%;
      min-height: 10px;
      background-color: white;
      padding: 10px;
      border-radius: 15px;
      word-wrap: break-word;
    }
    /* beforeで三角を表現 */
    .balloon::before{
      content: '';
      position: absolute;
      left: 20px;
      top: -10px;
      display: block;
      width: 0;
      height: 0;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white;
      border-left: 10px solid transparent;
    }
    p.me {
      text-align: right;
      padding-right: 16%;
      margin: 10px 0;
      font-size: 13px;
    }
    .balloonright {
      position: relative;
      min-width: 200px;
      width: 80%;
      min-height: 10px;
      background-color: rgb(255, 238, 238);
      padding: 10px;
      border-radius: 15px;
      word-wrap: break-word;
    }
    /* beforeで三角を表現 */
    .balloonright::before{
      content: '';
      position: absolute;
      right: 20px;
      top: -10px;
      display: block;
      width: 0;
      height: 0;
      border-right: 10px solid transparent;
      border-bottom: 10px solid rgb(255, 238, 238);
      border-left: 10px solid transparent;
    }
  }
  &__form {
    background-color: rgba(255, 255, 255, 0.753);
    box-sizing: border-box;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    input#message_image.hidden {
      display: none;
    }
    form#new_message {
      width: 100%;
      display: flex;
      justify-content: space-between;
      input#message_content.form__message {
        box-sizing: border-box;
        padding: 0 30px;
        border-style: none;
        width: 100%;
        box-shadow: inset 1px 1px 3px grey;
      }
      .form__mask {
        margin-left: -50px;
        margin-top: 13px;
        i.fas {
          cursor: pointer;
        }
      }
      input.form__submit {
        border-style: none;
        background-color: white;
        width: 90px;
        height: 100%;
        border-radius: 20px;
        box-shadow: 1px 1px 3px grey;
        margin-right: -100px;
        cursor: pointer;
      }
    }
    &__editbtn {
      background: linear-gradient(transparent 50%, #fffb0069 50%);
      height: 30px;
      width: 115px;
      background-color: rgba(255, 255, 255, 0.795);
      position: relative;
      top:-50px;
      right: 20px;
      border-radius: 10px 10px 0px 0px / 10px 10px 0px 0px;
      font-size: 11px;
      line-height: 30px;
      text-align: center;
      a.mission-edit {
        color: black;
      }
    }
  }
}

#anchor {
  font-size: 13px;
  text-align: center;
  line-height: 50px;
}


// インクリメンタルサーチ
.chat-group-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  &__errors {
    margin: 30px 0;
    padding: 20px 40px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
  }
  &__label {
    display: block;
    line-height: 0px;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
  }
  &__input {
    float: left;
    width: 92%;
    line-height: 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
    box-shadow: inset 1px 1px 2px rgb(173, 173, 173);
  }
  &__action-btn {
    display: inline-block;
    padding: 12px 20px;
    color: #fff;
    background-color: #38aef0;
    border: 0;
  }
  &__field {
    margin-top: 5px;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    &--left {
      float: left;
      width: 30%;
      padding-right: 0px;
      padding-left: 0px;
      box-sizing: border-box;
    }
    &--right {
      float: right;
      width: 70%;
    }
  }
}

.chat-group-user {
  padding: 0 15px;
  line-height: 27px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  &__name {
    float: left;
  }
  &__btn {
    float: right;
    display: inline-block;
    cursor: pointer;
    &--add {
      color: #38aef0;
    }
    &--remove {
      color: #f05050;
    }
  }
}

.news {
  padding: 30px;
  margin: 30px auto auto 30px;
  background-color: rgba(255, 255, 255, 0.753);
  min-height: 70px;
  &__top {
    background: linear-gradient(transparent 50%, #fffd9a9f 50%);
  }
  &__main {
    padding: 10px;
    font-size: 13px;
  }
}
.none {
  color: grey;
}
.must_give {
  font-size: 14px;
  font-weight: bold;
}

.contents__guidemobile, .chatbox__main__mobile__edit-btn {
  display: none;
}

.newface__guidebox {
  animation: fadeIn 2.5s ease 0s 1 normal;
  text-align: center;
  box-sizing: border-box;
  margin: 20px 10px;
  background-color: white;
  font-size: 13px;
  font-weight: bold;
  color: red;
  padding: 10px;
  border-radius: 15px;
  &__inner {
    font-weight: normal;
    text-align: left;
    color: black;
    margin: 10px 0;
    font-size: 15px;
    img.guide1 {
      width: 95%;
      border: yellow 2px solid;
    }
    img.guide2 {
      display: none;
    }
  }
  a#redcolor {
    font-weight: bold;
    color: red;
    margin: -4px;
    font-size: 18px;
  }
}
