.contents {
  z-index: 1;
  font-size: 12px;
  box-sizing: border-box;
  width: 390px;
  height: 100%;
  background-color: $syellow;
  padding:5px;
  overflow: scroll;
  &__content {
    box-sizing: border-box;
    width: 380px;
    padding: 5px;
    display: flex;
    border-bottom: 1px solid white;
    .picture {
      width: 100px;
      height: 100px;
      background-color: rgb(255, 255, 255);
      position: relative;
      border-radius: 20px;
      p {
        position: absolute;
        font-weight: bold;
        font-size: 15px;
        background: linear-gradient(transparent 50%, #fffb0069 50%);
      }
      img {
        box-sizing: border-box;
        border-radius: 20px;
        padding: 5px;
      }
    }
    &__mission {
      box-sizing: border-box;
      padding: 5px;
      width: 270px;
      word-wrap:break-word;
      p {
        font-weight: bold;
        font-size: 14px;
      }
      #id_date {
        margin-right: 0px;
      }
      &--text {
        width: 260px;
      }
    }
  }
  &__content:hover {
    background-color: white;
    transition: background-color 0.3s;
    border-right: yellow 2px solid;
  }
  a {
    color: black;
  }
}
p.contents__title {
  font-weight: bold;
}
a.friendadd {
  position: relative;
  top: -22px;
  left: 300px;
  font-size: 20px;
  // color: rgb(104, 9, 9);
}


// ここから、チャットボックス
.chatbox {
  width: calc(100% - 390px);
  min-width: 400px;
  height: 100%;
  box-sizing: border-box;
  &__main {
    box-sizing: border-box;
    // height: calc(100vh - 211px);
    height: calc(100% - 90px);
    width: 100%;
    overflow: scroll;
    padding: 20px;
    p.name {
      padding-bottom:10px;
      font-weight: bold;

    }
    .balloon{
      position: relative;
      min-width: 200px;
      width: 80%;
      min-height: 10px;
      background-color: white;
      padding: 10px;
    }
    /* beforeで三角を表現 */
    .balloon::before{
      content: '';
      position: absolute;
      left: 20px;
      top: -10px;
      display: block;
      width: 0;
      height: 0;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white;
      border-left: 10px solid transparent;
    }
    p.me {
      text-align: right;
      padding-bottom:10px;
      padding-right: 10%;
      font-weight: bold;
    }
    .balloonright {
      position: relative;
      min-width: 200px;
      width: 80%;
      min-height: 10px;
      background-color: rgb(255, 225, 225);
      padding: 10px;
    }
    /* beforeで三角を表現 */
    .balloonright::before{
      content: '';
      position: absolute;
      right: 20px;
      top: -10px;
      display: block;
      width: 0;
      height: 0;
      border-right: 10px solid transparent;
      border-bottom: 10px solid rgb(255, 225, 225);
      border-left: 10px solid transparent;
    }
  }
  &__form {
    background-color: rgba(255, 255, 255, 0.753);
    box-sizing: border-box;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    &__editbtn {
      background: linear-gradient(transparent 50%, #fffb0069 50%);
      height: 30px;
      width: 108px;
      background-color: rgba(255, 255, 255, 0.753);
      position: relative;
      top:-50px;
      border-radius: 10px 10px 0px 0px / 10px 10px 0px 0px;
      font-size: 14px;
      line-height: 30px;
      a.mission-edit {
        color: black;
      }
    }
  }
}