$syellow: rgba(255, 255, 214, 0.705);
$white-color: #ffffff;


p.contents__title {
  font-size: 20px;
  text-align: center;
  background: linear-gradient(transparent 50%, #fffb0069 50%);
}

.alert.alert-warning {
  background-color: white;
  border: red 1px solid;
  border-radius: 5px;
  margin: 10px;
  font-size: 12px;
}