.topcover
  .topcover__inner
    - if user_signed_in?
      .contents
        %p.contents__title ミッション一覧
        - current_user.missions.each do |mission|
          = render partial: 'shared/missions', locals: {mission: mission }
      -if @friends_thismonth.present? || @friends_nextmonth.present? || @friends_nextnextmonth.present?
        .news
          %em もうすぐ誕生日のフレンドがいます！
          = render partial: "month", locals: {month: @thismonth, friends: @friends_thismonth } 
          = render partial: "month", locals: {month: @nextmonth, friends: @friends_nextmonth } 
          = render partial: "month", locals: {month: @nextnextmonth, friends: @friends_nextnextmonth } 
    - else
      .contents__guidetop
        sup
        %span u
        は、身近にいるあの人に
        %br
        サプライズを送るためのアプリです
      .contents__guidebottom
        #slide
          %ul
            %li
              %img{:alt => "", :height => "280", :src => "assets/aaaa.jpg", :width => "520"}/
            %li
              %img{:alt => "", :height => "280", :src => "assets/bbbb.jpg", :width => "520"}/
            %li
              %img{:alt => "", :height => "280", :src => "assets/cccc.jpg", :width => "520"}/

