.topcover
  .topcover__inner
    - if user_signed_in?
      .contents
        %p.contents__title ミッション一覧
        -if current_user.missions.length == 0
          .newface__guidebox
            まだ、サプライズミッションが登録されていません
            .newface__guidebox__inner
              ①まずは、フレンドを登録
              <br>
              　→フレンド登録は
              =link_to "コチラ", new_friend_path, id:"redcolor"
              から
            .newface__guidebox__inner
              ②フレンドの登録が済んだら、フレンドを選んでサプライズミッションを計画しましょう！
            .newface__guidebox__inner
              %img.guide1{alt: "guide", src: "assets/newface1.jpg"}
              %img.guide2{alt: "guide", src: "assets/newface2.png"}

        -else
          - current_user.missions.each do |mission|
            = render partial: 'shared/missions', locals: {mission: mission }
      -if @friends_thismonth.present? || @friends_nextmonth.present? || @friends_nextnextmonth.present?
        .news
          %em もうすぐ誕生日のフレンドがいます！
          = render partial: "month", locals: {month: @thismonth, friends: @friends_thismonth } 
          = render partial: "month", locals: {month: @nextmonth, friends: @friends_nextmonth } 
          = render partial: "month", locals: {month: @nextnextmonth, friends: @friends_nextnextmonth } 
    - else
      .contents__guidetop
        sup
        %span u
        は、身近にいるあの人に
        %br
        サプライズを送るためのアプリです
      .contents__guidebottom
        #slide
          %ul
            %li
              %img.slide{:alt => "", :src => "assets/aaaa.jpg"}/
            %li
              %img.slide{:alt => "", :src => "assets/bbbb.jpg"}/
            %li
              %img.slide{:alt => "", :src => "assets/cccc.jpg"}/
      .contents__guidemobile
        %img.mobile{:alt => "", :src => "assets/aaaa.jpg"}/
        %img.mobile{:alt => "", :src => "assets/bbbb.jpg"}/
        %img.mobile{:alt => "", :src => "assets/cccc.jpg"}/
        %p こんにちは、ゲストさん
        =link_to "はじめる", new_user_registration_path, class:"login"
        .mobile-main-footer
          =link_to new_user_session_path, class: "footer-btn" do
            新規会員登録&ログイン
          |
          =link_to "https://yohei-koba-tokyo.github.io/lovepeaceandcodes/", class:"footer-btn" do
            お問い合わせ
          .copyright
            .far.fa-copyright
            supu 2020
        
      

