.topcover
  .topcover__inner
    - if user_signed_in?
      .contents
        %p.contents__title ミッション一覧
        - current_user.missions.each do |mission|
          = render partial: 'shared/missions', locals: {mission: mission }
    .chatbox
      .chatbox__main

        %p.name こばやし 3/4 Wed 12:00
        .balloon
          こんにちは
        %p.me たむら 3/4 13:00
        .balloonright
          はろーはろー
        %p.name こばやし 3/4 Wed 12:00
        .balloon
          こんにちは
        %p.me たむら 3/4 13:00
        .balloonright
          はろーはろー


      .chatbox__form
        .chatbox__form__editbtn
          =link_to  " ミッション編集", edit_mission_path, class:"mission-edit"