%footer
  =link_to new_user_session_path, class: "footer-btn" do
    新規会員登録&ログイン
  |
  =link_to "https://yohei-koba-tokyo.github.io/lovepeaceandcodes/", class: "footer-btn" do
    お問い合わせ
  .copyright
    .far.fa-copyright
    supu 2020